h1 {
  color: green;
  font-style: italic;
}

.rc-list__item {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.rendering-collection__important-btn {
  margin-top: 20px;
}

.rc-list {
  text-align: left;
}
.rc-list__item:not(:last-of-type) {
  margin-bottom: 10px;
}
.rc-list__item span {
  margin-right: 5px;
}
.rc-form__input {
  margin-right: 15px;
}

.cancel-btn {
  margin-top: 5px;
}

.logout-btn {
  margin-left: 30px;
}